<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h2 class="mt-3">Edit This Listing</h2>
    <br />
    <form
      method="POST"
      action="/listings/<%= listing.id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter Title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          type="text"
          class="form-control"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Enter Description</div>
      </div>

      <div class="mb-3">
        Original Listing Image <br />
        <img src="<%= originalImageUrl %>" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select id="category" name="category">
          <option value="Arctic">Arctic</option>
          <option value="Boats">Boats</option>
          <option value="Camping">Camping</option>
          <option value="Castles">Castles</option>
          <option value="Domes">Domes</option>
          <option value="Farms">Farms</option>
          <option value="Mountains">Mountains</option>
          <option value="Pools">Pools</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          name="listing[price]"
          value="<%= listing.price %>"
          type="number"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter valid price</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            value="<%= listing.location %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter Location</div>
        </div>

        <div class="mb-3 col-md-6">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter Country</div>
        </div>
      </div>

      <button class="btn edit-btn btn-dark mt-3 mb-4">Edit</button>
    </form>
  </div>
</div>
