<% layout("/layouts/boilerplate") %>
<div class="row col-10 offset-2 mt-3">
  <h3><%= listing.title %></h3>
</div>
<div class="row col-8 offset-2">
  <div class="card listing-card">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img mt-3 mb-3"
      alt="listing_image"
    />
    <div class="card-body mt-2">
      <p class="card-text">
        <b>Owned By : </b> <i><%= listing.owner.username %></i><br />
        <%= listing.description %><br />
        <b>Price:</b> &#8377; <%= listing.price.toLocaleString("en-IN") %><br />
        <b>Location:</b> <%= listing.location %><br />
        <b>Country:</b> <%= listing.country %>
      </p>
    </div>
  </div>
</div>
<% if(currUser && (currUser._id.equals(listing.owner._id) || currUser.username
== 'Admin')) { %>
<div class="show mb-4">
  <div class="offset-3">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn"
      >Edit</a
    >
  </div>
  <div class="alert-danger">
    <p class="mt-3">Are you sure you want to delete?</p>
    <br />
    <div class="alert-buttons mb-3">
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-outline-success btn-alert">Yes</button>
      </form>
      <form method="GET" action="/listings/<%= listing._id %>">
        <button class="btn btn-outline-danger btn-alert">No</button>
      </form>
    </div>
  </div>
  <div class="offset-5">
    <button class="btn btn-dark btn-del">Delete</button>
  </div>
</div>
<% } %> <% if(currUser) { %>
<div class="row col-8 offset-2 mb-4">
  <hr />
  <h4>Leave a Review</h4>
  <form
    method="POST"
    action="/listings/<%= listing._id %>/reviews"
    novalidate
    class="needs-validation mb-4"
  >
    <div class="mb-4 mt-4">
      <label for="rating" class="form-label">Rating</label>
      <fieldset class="starability-grow">
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="review[rating]"
          value="1"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>
    <div class="mb-4">
      <label for="comment" class="form-label">Comments</label>
      <textarea
        name="review[comment]"
        id="comment"
        class="form-control"
        rows="5"
        required
      ></textarea>
      <div class="invalid-feedback">Please add some comments for Review.</div>
    </div>
    <button class="btn btn-outline-dark">Submit</button>
  </form>
</div>
<% } %>
<div class="row col-8 offset-2 mb-4">
  <hr />
  <% if (listing.reviews.length > 0) { %>
  <div class="row">
    <h4>All Reviews</h4>
    <% for(review of listing.reviews) { %>
    <div class="card col-5 ms-3 mb-3">
      <div class="card-body">
        <h5 class="card-title">
          <b>Posted By: </b><i>@<%= review.owner.username %></i>
        </h5>
        <p
          class="starability-result card-text"
          data-rating="<%= review.rating %>"
        ></p>
        <p class="card-text"><%= review.comment %></p>
      </div>
      <% if (currUser && (currUser._id.equals(review.owner._id) ||
      currUser.username == 'Admin')) { %>
      <form
        class="mb-3 mt-2"
        method="POST"
        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
      >
        <button class="btn btn-sm btn-dark">Delete</button>
      </form>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
<div class="row col-8 offset-2 mb-4">
  <h3>Where you'll be</h3>
  <div id="map" class="offset-1 mt-3"></div>
</div>
<div
  id="my-data"
  data-listing="<%= JSON.stringify(listing) %>"
  data-map="<%= JSON.stringify(process.env.MAP_TOKEN) %>"
></div>
<script src="/js/showScript.js"></script>
